src/main/resources/wsdl/smart_home_demo.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="https://soap.hiquality.dev/smart-home"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="https://soap.hiquality.dev/smart-home">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://soap.hiquality.dev/smart-home"
                    xmlns:tns="https://soap.hiquality.dev/smart-home">

            <xsd:simpleType name="UUID">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="DeviceTypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Door"/>
                    <xsd:enumeration value="Window"/>
                    <xsd:enumeration value="Lightbulb"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:simpleType name="StatusEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="on"/>
                    <xsd:enumeration value="off"/>
                    <xsd:enumeration value="open"/>
                    <xsd:enumeration value="closed"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="DeviceType">
                <xsd:sequence>
                    <xsd:element name="ID" type="tns:UUID"/>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Type" type="tns:DeviceTypeEnum"/>
                    <xsd:element name="Status" type="tns:StatusEnum"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="GetSmartHomeDevicesRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Type" type="tns:DeviceTypeEnum" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetSmartHomeDevicesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Devices" type="tns:DeviceType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DeviceStatusChange">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DeviceID" type="tns:UUID"/>
                        <xsd:element name="NewStatus" type="tns:StatusEnum"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetSmartHomeDevicesRequest">
        <wsdl:part name="parameters" element="tns:GetSmartHomeDevicesRequest"/>
    </wsdl:message>

    <wsdl:message name="GetSmartHomeDevicesResponse">
        <wsdl:part name="parameters" element="tns:GetSmartHomeDevicesResponse"/>
    </wsdl:message>

    <wsdl:message name="DeviceStatusChangeNotification">
        <wsdl:part name="parameters" element="tns:DeviceStatusChange"/>
    </wsdl:message>

    <wsdl:portType name="SmartHomePortType">
        <wsdl:operation name="GetSmartHomeDevices">
            <wsdl:input message="tns:GetSmartHomeDevicesRequest"/>
            <wsdl:output message="tns:GetSmartHomeDevicesResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="SmartHomeNotificationPortType">
        <wsdl:operation name="DeviceStatusChanged">
            <wsdl:input message="tns:DeviceStatusChangeNotification"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SmartHomeBinding" type="tns:SmartHomePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetSmartHomeDevices">
            <soap:operation soapAction="https://soap.hiquality.dev/smart-home/GetSmartHomeDevices"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="SmartHomeNotificationBinding" type="tns:SmartHomeNotificationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DeviceStatusChanged">
            <soap:operation soapAction="https://soap.hiquality.dev/smart-home/DeviceStatusChanged"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SmartHomeService">
        <wsdl:port name="SmartHomePort" binding="tns:SmartHomeBinding">
            <soap:address location="https://soap.hiquality.dev/smart-home-service"/>
        </wsdl:port>
        <wsdl:port name="SmartHomeNotificationPort" binding="tns:SmartHomeNotificationBinding">
            <soap:address location="https://soap.hiquality.dev/smart-home-notification"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>